@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background: #000 url(imagens/fundo03.jpg) top center no-repeat; 
	text-align:center; /* hack para o IE */
	
}

#tudo {
	width: 960px;
	margin:0 auto;         
	padding: 0px;
	text-align:left; /* "remédio" para o hack do IE */ 
	color: #000;
}

#conteudo {
	padding: 0px;
	/*background-color: #006;*/
}
#topo{
	width: 100%;
	height: 200px;
}

#fundoNovo
{
	background: url(imagens/df.png) top center no-repeat;
	/*filter: alpha(opacity=40);
	opacity: 0.4;	*/
}

/***********************************************************************************************************************/
#principal{
	/* margin-left: 449px; */
	background: #333333;
	top: 200px;
}

.pTabela1{
	/*background: #CCC;*/
	color: #FFF;	
}

.pTd1{
	z-index: 999; 
	position: relative; 
	top: -864px; 
	left: 845px;
}

.pFont1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}

.pFont2{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}
.pFont3{
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.pFont4, .pFont4 a:link, .pFont4 a:hover, .pFont4 a:visited{
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-decoration:underline;
}
.pFontAlerta{
	color: #F00;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
.hr1{
	color: #fff;
	background-color: #fff;
	size: 10px;
}

.td1{
	/*background: url(imagens/div_fundo_hor.jpg) repeat-y;*/
	height: 10px;
}
/***********************************************************************************************************************/
#menu{
	/*margin-left: 449px;*/
	top: 0px;
	width: 200px;
	height: 600px;
}
.tbmenu{
	color: #FFF;
	width: 100%;
	height: 100%;
	/*background: no-repeat url(img/menu.png);*/
}
/***********************************************************************************************************************/
#rodape{
	width: 100%;
	height: 60;
	background: no-repeat url(img/rodape.png);	
}

#rodape2{
	width 960px;
		
}

.tbrodape, .tbrodape a:link, .tbrodape a:visited{
	color: #FFF;
	width: 50%;
	height: 60px;
	margin-left: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-decoration: none;
}
.tbrodape a:hover{
	color: #FFF;
	width: 50%;
	height: 60px;
	margin-left: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-decoration: underline;
}

.tbrodape2{
	color: #FFF;
	width: 100%;
	text-align: center;
	height: 60px;
	margin-left: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8px;
	text-decoration: none;
}

.link1
{
	font-family: Calibri, Verdana, Arial, Timer New Roman;
	color: #FFF;
	font-weight: bold;	
}
/**********************************************************************************************************************/
#googleMap{
	width: 700px;
	height: 400px;
}
/************************************************************/
/* BLOCO DE TESTES */

