/*
* Slides
*/

#slides 
{ display:none; position:relative; }

/*
* Slides > Text
*/

.slide
{ height:392px; }

	.slide img
	{ display:block; min-width:695px; }

	.slide .text
	{ background-color:rgba(167,78,64,1); bottom:0; color:#FFF; right:0; padding:0 20px; position:absolute; top:0; width:226px; } 

		.ie8 .slide .text
		{ background-color:transparent; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2A74E40,endColorstr=#F2A74E40); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2A74E40,endColorstr=#F2A74E40); zoom: 1; }

		.slide .text .wrap
		{ display:block; max-height:336px; overflow:hidden; }

		.slide .text a:hover
		{ text-decoration:none; }

		.slide .text h2
		{ color:#FFF; font-size:16px; font-family:'open_sansbold', sans-serif; line-height:normal; margin:20px 0; text-align:center; }
		
		.slide .text p
		{ margin-bottom:0; text-align:justify; }

		.slide .text .btn-mais
		{ margin-top:20px; }

/*
* Slides > Navigation
*/

#slides .slidesjs-navigation 
{ background:#a74e40; color:#555; display:block; padding:3px 5px; position:absolute; top:48%; z-index:101; }

	#slides .slidesjs-navigation:hover
	{ background:#C00; color:#FFF; text-decoration:none; }

#slides .slidesjs-previous 
{ left:1px; }

#slides .slidesjs-next 
{ right:1px; }

/*
* Slides > Pagination
*/

.slidesjs-pagination 
{ bottom:0; margin:0; padding:0; position:absolute; right:0; z-index:999; }

	.slidesjs-pagination li 
	{ margin-right:8px; padding:0; float:left; list-style:none; }

		.slidesjs-pagination li a 
		{ background:#d5d5d5; float:left; height:35px; line-height:35px; color:#555; padding:0 10px; text-decoration:none; text-indent:-9999px; }
		
			.slidesjs-pagination li a.active 
			{ background:#933a2c; color:#FFF; }
			
			.slidesjs-pagination a:focus 
			{ outline:none; }

