@font-face {
    font-family:'open_sansregular';
    src: url('../font/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('../font/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'open_sanslight';
    src: url('../font/opensans_light/OpenSans-Light-webfont.eot');
    src: url('../font/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'open_sansbold';
    src: url('../font/opensans_bold/OpenSans-Bold-webfont.eot');
    src: url('../font/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'open_sanssemibold';
    src: url('../font/opensans_semibold/OpenSans-Semibold-webfont.eot');
    src: url('../font/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans_semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/opensans_semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
